<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<div class='merge'>
  <%= form_tag "/admin/article/merge" do %>
    <input type="hidden" name="article_id" value="<%=@article.id%>">
    <h3>Merge Articles</h3>
    <label for="merge_with">Article ID:</label>
    <% if current_user.admin? %>
      <input type="text" name="merge_with" value="">
    <% else %>
      <input type="text" class="disabled" name="merge_with" value="">
    <% end %>
    <br>
    <%= submit_tag "Merge" %>
  <% end %>
</div>